<button type="button" (click)="toggleCreate(true)">
  Create +
</button>

<ul>
  <li *ngFor="let lecture of lectures">
    <lecture [lecture]="lecture" (select)="selectLecture(lecture)"></lecture>
  </li>
</ul>
<lecture-details [lectureId]="selectedLectureId"></lecture-details>
<template [ngIf]="isCreateMode">
  <lecture-create (cancel)="toggleCreate(false)" (create)="addLecture()" [lecture]="newLecture"></lecture-create>
</template>
